html {
display: block;
}

body {
display: block;
margin: 8px;
background-image: "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSNGKv-CivT5ptwhvQUArHObtNxMcoQjWdz_PzO32qiW7nYFzudpaSv_9k";
}

.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.l-demo-container {
width: 500px;
margin: 40px auto 0px auto;
}

.example-chat header {
background-color: #EEE;
background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
background: -webkit-linear-gradient(top, #EEEEEE, #DDDDDD);
background: linear-gradient(top, #EEEEEE, #DDDDDD);
-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9), 0px 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9), 0px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 3px 3px 0px 0px;
border-bottom: 1px solid #CCC;
line-height: 24px;
font-size: 12px;
text-align: center;
color: #999;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
display: block;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.example-chat .example-chat-toolbar {
background-color: #FFF;
padding: 10px;
position: relative;
border-bottom: 1px solid #CCC;
}
user agent stylesheetdiv {
display: block;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.example-chat .example-chat-toolbar label {
text-transform: uppercase;
line-height: 32px;
font-size: 14px;
color: #999;
position: absolute;
top: 10px;
left: 20px;
z-index: 1;
}
user agent stylesheetlabel {
cursor: default;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.example-chat .example-chat-toolbar input {
-webkit-box-shadow: none;
box-shadow: none;
border: 1px solid #FFF;
padding-left: 100px;
color: #999;
}
.example-chat input {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 0px 10px;
height: 30px;
font-size: 18px;
width: 100%;
font-weight: normal;
outline: none;
}
user agent stylesheetinput:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
padding: 1px 0px;
}
user agent stylesheetinput, input[type="password" i], input[type="search" i] {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
user agent stylesheetinput, textarea, keygen, select, button {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
user agent stylesheetinput, textarea, keygen, select, button, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.example-chat ul {
list-style: none;
margin: 0px;
padding: 20px;
height: 200px;
overflow: auto;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}

.example-chat ul li {
margin-bottom: 10px;
line-height: 24px;
}
user agent stylesheetli {
display: list-item;
text-align: -webkit-match-parent;
}
Inherited from ul#example-messages.example-chat-messages
.example-chat ul {
list-style: none;
margin: 0px;
padding: 20px;
height: 200px;
overflow: auto;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}
.example-chat footer {
display: block;
padding: 10px;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
display: block;
}
Inherited from div.example-chat.l-demo-container
.example-chat {
font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
border-radius: 3px;
-webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
background-color: #dfe3ea;
border: 1px solid #CCC;
overflow: auto;
padding: 0px;
font-size: 18px;
line-height: 22px;
color: #666;
}
